In [1]:
from typing import List, Dict

In [2]:
def some_function(arg1: List[str], arg2: Dict[str, float]):
    print(arg1)
    return arg2

## Section 1

In [3]:
a = some_function(['a', 'b'], {'c': 0.2})

['a', 'b']

In [4]:
assert 3 == 3

Here is a math formulas:

$$c = \sqrt{a^2 + b^2}$$

In [5]:
def some_other_function() -> bool:
    """
    Some docstring
    """
    return False

There can be double quotes in non-code cells, like this: "this". These should not be changed to single quotes.

In [6]:
print(some_other_function())

False

There can also be double quotes in the cell output. Again, they should not be changed to single quotes.

In [7]:
print('abcd"efg".')

abcd"efg".